.login {
    background-color: #f0f2f5;
    background-image: url("../img/desktop.svg");
    height: 100%;
    width: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center 110px;
    background-size: 100%;
    display: flex;
    display: -webkit-flex;
    align-items:center;
    justify-content:center;
}

.login-box {
    width: 300px;
}

.login-box-input {
    padding-top: 30px;
}

.login-box h2 {
    text-align: center;
    color: rgba(0,0,0,.45);
    margin-bottom: 0px;
}

.login-form-button {
    width: 300px;
}