.login {
    background-image: url("../img/desktop.svg");
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.login-box {
    display: flex;
    display: -webkit-flex;
    align-items:center;
    justify-content:center;
    height: 100%;
}

.item {
    width: 100%;
}

.login-box-header {
    text-align: center;
}